#recommended by QC Mingsen Xu++++
CONFIG_FORCE_PAGES=y
CONFIG_FREE_PAGES_RDONLY=y

CONFIG_DEBUG_MUTEXES=y
CONFIG_DEBUG_SPINLOCK=y

CONFIG_DEBUG_PAGEALLOC=y
CONFIG_DEBUG_LIST=y
CONFIG_PAGE_POISONING=y

CONFIG_DEBUG_VM=y
CONFIG_PANIC_ON_DATA_CORRUPTION=y
CONFIG_MSM_RTB=y

CONFIG_SLUB_DEBUG=y
CONFIG_SLUB_DEBUG_ON=y
#recommended by QC Mingsen Xu----

#added by zhouxin++++
CONFIG_MSM_FORCE_WDOG_BITE_ON_PANIC=y
CONFIG_SLUB_DEBUG_PANIC_ON=y
CONFIG_MSM_RTB_SEPARATE_CPUS=y
#added by zhouxin----
